@font-face {
  font-family: "Lato";
  src: local("Lato"),
   url(./assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family:Lato;
  line-height: 1.6; 
}

:root {
  --secondary: #3B5F85;
  --primary: #35A19E;
}

.bg__primary{
  background-color: #35A19E !important;
  color: #fff
}
.bg__secondary{
  background-color: #3B5F85 !important;
  color:#fff
}
.text__primary{
  color: #35A19E !important
}
.text__secondary{
  color: #3B5F85  !important
}
